<div class="w-64 rounded-xl shadow-2xl p-4 mt-4" [ngClass]="selected ? 'bg-gray-700 text-white': 'white'">
    <h2 [ngClass]="selected ? 'text-white': 'text-gray-600'" class=" text-lg py-3">{{subscription.name}}</h2>
    <p class="text-5xl font-bold py-3">{{subscription.price| currency:'COP':'symbol-narrow': '1.0'}}</p>
    <p class="text-sm mb-4">{{subscription.description}}</p>
    <div>
        <p class="font-semibold mb-2">Beneficios</p>
        <ul class="pl-4">
            <li *ngFor="let b of subscription.benefits" class="flex my-1 items-center"><i class="fas fa-check bg-green-100 p-2 rounded-full"></i> <p class="pl-2">{{b}}</p></li>
        </ul>
    </div>
    <div class="my-4" *ngIf="!selected">
        <button (click)="selectSubscription()" class="w-full bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            {{selected ? 'Seleccionado' : 'Seleccionar'}}
        </button>
    </div>
    
</div>
